.desc-que-blue {
  color: #164687 !important;
  font-weight: bold;
}

.desc-que-img {
  width: 50%;
}

.desc-question-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.desc-colors {
  padding: 10px 50px;
  color: #fff;
  width: 30%;
}
.c894bca {
  background-color: #894bca;
}

.cffffff {
  background-color: #ffffff;
  color: #000;
}

.cf780c3 {
  background-color: #f780c3;
}
.c323f4b {
  background-color: #323f4b;
}
.c7b8794 {
  background-color: #7b8794;
}

.cffedcb {
  background-color: #ffedcb;
}

.c132d84 {
  background-color: #132d84;
}
.cffe2ab {
  background-color: #ffe2ab;
}
.c323f4b {
  background-color: #323f4b;
}
.cfad693 {
  background-color: #fad693;
}
.c132d84 {
  background-color: #132d84;
}
.c253263 {
  background-color: #253263;
}

.cf19116 {
  background-color: #f19116;
}
.c222222 {
  background-color: #222222;
}
.cffffff {
  background-color: #ffffff;
  color: #000;
}

.cf19116 {
  background-color: #f19116;
}
.c7b8794 {
  background-color: #7b8794;
}
.c0f0e46 {
  background-color: #0f0e46;
}
.c6c6b70 {
  background-color: #6c6b70;
}

.c1a472a {
  background-color: #1a472a;
}
.cd4a574 {
  background-color: #d4a574;
}
.c333333 {
  background-color: #333333;
}
.c666 {
  background-color: #666;
}
.cffa500 {
  background-color: #ffa500;
}
.lightblue {
  background-color: lightblue;
}
.c5cb85c {
  background-color: #5cb85c;
}
.c5bc0de {
  background-color: #5bc0de;
}
.cf0ad4e {
  background-color: #f0ad4e;
}
.cd9534f {
  background-color: #d9534f;
}
.c007854 {
  background-color: #007854;
}
.cffd0b5 {
  background-color: #ffd0b5;
}
.c841003 {
  background-color: #841003;
}
.cfab8d9 {
  background-color: #fab8d9;
}
.c5c0b33 {
  background-color: #5c0b33;
}
.c0c6b58 {
  background-color: #0c6b58;
}
