.desc-que-blue {
  color: #164687 !important;
  font-weight: bold;
}

.desc-que-img {
  width: 100%;
  max-width: 320px;
}

.desc-question-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.desc-colors {
  color: #fff;
  width: 50%;
  text-align: left;
  padding: 10px;
}

.italic {
  font-style: italic;
}
.ordered-unordered-lists {
  margin: 0px 20px;
}
.c894bca {
  background-color: #894bca;
}

.cffffff {
  background-color: #ffffff;
  color: #000;
}

.cf780c3 {
  background-color: #f780c3;
}
.c323f4b {
  background-color: #323f4b;
}
.c7b8794 {
  background-color: #7b8794;
}

.cffedcb {
  background-color: #ffedcb;
}

.c132d84 {
  background-color: #132d84;
}
.cffe2ab {
  background-color: #ffe2ab;
}
.c323f4b {
  background-color: #323f4b;
}
.cfad693 {
  background-color: #fad693;
}
.c132d84 {
  background-color: #132d84;
}
.c253263 {
  background-color: #253263;
}

.cf19116 {
  background-color: #f19116;
}
.c222222 {
  background-color: #222222;
}
.cffffff {
  background-color: #ffffff;
  color: #000;
}

.cf19116 {
  background-color: #f19116;
}
.c7b8794 {
  background-color: #7b8794;
}
.c0f0e46 {
  background-color: #0f0e46;
}
.c6c6b70 {
  background-color: #6c6b70;
}

.c1a472a {
  background-color: #1a472a;
}
.cd4a574 {
  background-color: #d4a574;
}
.c333333 {
  background-color: #333333;
}
.c666 {
  background-color: #666;
}
.cffa500 {
  background-color: #ffa500;
}
.lightblue {
  background-color: lightblue;
}
.c5cb85c {
  background-color: #5cb85c;
}
.c5bc0de {
  background-color: #5bc0de;
}
.cf0ad4e {
  background-color: #f0ad4e;
}
.cd9534f {
  background-color: #d9534f;
}
.c007854 {
  background-color: #007854;
}
.cffd0b5 {
  background-color: #ffd0b5;
}
.c841003 {
  background-color: #841003;
}
.cfab8d9 {
  background-color: #fab8d9;
}
.c5c0b33 {
  background-color: #5c0b33;
}
.c0c6b58 {
  background-color: #0c6b58;
}
.c6c757d {
  background-color: #6c757d;
}
.c343a40 {
  background-color: #343a40;
}
.cdff0d8 {
  background-color: #dff0d8;
}
.ca78bfa {
  background-color: #a78bfa;
}
.c7b4ae1 {
  background-color: #7b4ae1;
}
.c000000 {
  background-color: #000000;
}
.cfdba74 {
  background-color: #fdba74;
}
.cea580c {
  background-color: #ea580c;
}
.ca5b4fc {
  background-color: #a5b4fc;
}
.c4f46e5 {
  background-color: #4f46e5;
}
.c5eead4 {
  background-color: #5eead4;
}
.c0d9488 {
  background-color: #0d9488;
}
.c1a2137 {
  background-color: #1a2137;
}
.c1f2933 {
  background-color: #1f2933;
}
.cf9fbfe {
  background-color: #f9fbfe;
  color: #000;
}
.c222b36 {
  background-color: #222b36;
}
.c959ead {
  background-color: #959ead;
}
.c1754a1 {
  background-color: #1754a1;
}
.c5a7184 {
  background-color: #5a7184;
}
.c19232d {
  background-color: #19232d;
}
.c202b36 {
  background-color: #202b36;
}
.c4b6cc1 {
  background-color: #4b6cc1;
}
.c191a1d {
  background-color: #191a1d;
}
.c9aa5b1 {
  background-color: #9aa5b1;
}
.ccced00 {
  background-color: #cced00;
}
.c3e4c59 {
  background-color: #3e4c59;
}
.c52606d {
  background-color: #52606d;
}
.c001c32 {
  background-color: #001c32;
}
.c0d2436 {
  background-color: #0d2436;
}
.c183b56 {
  background-color: #183b56;
}
.c616c7c {
  background-color: #616c7c;
}
.cff9f00 {
  background-color: #ff9f00;
}
.cf5f7fa {
  background-color: #f5f7fa;
  color: #000;
}
.cfff8db {
  background-color: #fff8db;
  color: #000;
}
.cfae38c {
  background-color: #fae38c;
  color: #000;
}
.cfaf7e8 {
  background-color: #faf7e8;
  color: #000;
}
.cfaf7e8 {
  background-color: #faf7e8;
}
.ce5eaf4 {
  background-color: #e5eaf4;
  color: #000;
}
.cd0b200 {
  background-color: #d0b200;
}
.cffe0f0 {
  background-color: #ffe0f0;
  color: #000;
}
.cc42d78 {
  background-color: #c42d78;
}
.c92fdf2 {
  background-color: #92fdf2;
  color: #000;
}
.cf2ebfe {
  background-color: #f2ebfe;
  color: #000;
}
.c261f41 {
  background-color: #261f41;
}
.caa2bff {
  background-color: #aa2bff;
}
.cffa740 {
  background-color: #ffa740;
}
.c4cc8ef {
  background-color: #4cc8ef;
}
.cdaa4ff {
  background-color: #daa4ff;
}
.cff8c88 {
  background-color: #ff8c88;
}
.cffc169 {
  background-color: #ffc169;
}
.c9e82b4 {
  background-color: #9e82b4;
}
.c8a2387 {
  background-color: #8a2387;
}
.ce94057 {
  background-color: #e94057;
}
.cf27121 {
  background-color: #f27121;
}
.c7bbd36 {
  background-color: #7bbd36;
}
.c49b407 {
  background-color: #49b407;
}
.cff9c38 {
  background-color: #ff9c38;
}
.cfc3535 {
  background-color: #fc3535;
}
.c826b7a {
  background-color: #826b7a;
}
.c87cdff {
  background-color: #87cdff;
}
.c00c898 {
  background-color: #00c898;
}
.c020203 {
  background-color: #020203;
}
.cbb64ff {
  background-color: #bb64ff;
}
.cfd8941 {
  background-color: #fd8941;
}
.c8a2387 {
  background-color: #8a2387;
}
.ce0e0e0 {
  background-color: #e0e0e0;
  color: #000;
}
.c6fcf97 {
  background-color: #6fcf97;
}
.c56ccf2 {
  background-color: #56ccf2;
}
.cbb6bd9 {
  background-color: #bb6bd9;
}
.cbb6bd9 {
  background-color: #bb6bd9;
}
.c49a6e9 {
  background-color: #49a6e9;
}
.c028a0f {
  background-color: #028a0f;
}
.c1e217c {
  background-color: #1e217c;
}
.c2d3a35 {
  background-color: #2d3a35;
}
.ccbd2d9 {
  background-color: #cbd2d9;
}
.c014d40 {
  background-color: #014d40;
}
.c2d3a8c {
  background-color: #2d3a8c;
}
.c21396c {
  background-color: #21396c;
}
.cdc3545 {
  background-color: #dc3545;
}
.ce4e7eb {
  background-color: #e4e7eb;
  color: black;
}
