.desc-que-blue {
  color: #164687 !important;
  font-weight: bold;
}

.desc-que-img {
  width: 50%;
}

.desc-question-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.desc-colors{
  padding: 10px 50px;
  color: #fff;
  width: 30%;
}
.c894bca{
  background-color: #894bca;
}

.cffffff{
  background-color: #ffffff;
  color: #000;
}

.cf780c3{
  background-color: #f780c3
;
}.c323f4b{
  background-color: #323f4b
;
}.c7b8794{
  background-color: #7b8794
;
}

.cffedcb{
  background-color: #ffedcb;
}

.c132d84{
  background-color: #132d84;
}
.cffe2ab{
  background-color: #ffe2ab;
}
.c323f4b{
  background-color: #323f4b;
}
.cfad693{
  background-color: #fad693;
}
.c132d84{
  background-color: #132d84;
}
.c253263{
  background-color: #253263;
}

.cf19116{
  background-color: #f19116;
}
.c222222{
  background-color: #222222;
}
.cffffff{
  background-color: #ffffff;
  color: #000;
}

.cf19116{
  background-color: #f19116;
}
.c7b8794{
  background-color: #7b8794;
}
.c0f0e46{
  background-color: #0f0e46;
}
.c6c6b70{
  background-color: #6c6b70;
}
