.profile-body {
  height: auto;
  width: 100%;
  display: flex;
  min-height: 100vh;
  margin-top: 20px;
}

.profile-container {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 50px;
}

.profile-heading {
  font-weight: bold;
}

.profile-image-container {
  display: flex;
  flex-direction: column;
}

.image-profile {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin: 8px 0px;
  margin-left: 8px;
}
.input-lable-container {
  margin-top: 8px;
}

.update-admin {
  max-width: 500px;
}

.update-admin form {
  display: flex;
  flex-direction: column;
}

.update-admin label {
  font-weight: bold;
}

.update-admin input {
  padding: 10px;
  font-size: 14px;
}

.save-button-container {
  display: flex;
  justify-content: flex-end;
  border-radius: 50px;
  margin-top: 15px;
}

.save-button {
  padding: 10px 60px;
  border-radius: 10px;
}

.upload_icon-profile-contianer {
  display: flex;
  margin-top: 30px;
  margin-left: 15px;
  cursor: pointer;
}

.profile-image-border-container {
  display: flex;
  border: 2px dotted #ccc;
  border-radius: 10px;
  width: 400px;
}

.arrow-uploader {
  margin-right: 10px;
}

.profile-side-image {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin-right: 20px;
  margin: 50px;
}

.bi-arrow-left-short {
  display: none;
}

@media (max-width: 480px) {
  .profile-side-image {
    display: none;
  }

  .image-profile {
    margin: 5px 0px;
    margin-left: 5px;
  }

  .profile-container {
    margin: 50px 10px;
  }

  .profile-image-border-container {
    width: 100%;
  }

  .bi-arrow-left-short {
    display: flex;
  }
}
